{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "plugins": [
    "prettier",
    "jest",
    "react"
],
  "env": {
    "jest": true
  },
  "rules": {
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "no-restricted-imports": 0,
    "react/jsx-props-no-spreading": 0,
    "react/prop-types": 0, // TODO: update to UNSAFE_componentWillReceiveProps
    "prettier/prettier": ["error"],
    "react/forbid-foreign-prop-types": 2,
    "react/react-in-jsx-scope": 0,
    "react/jsx-wrap-multilines": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-curly-newline": 0,
    "no-param-reassign": [2, { "props": false }],
    "no-unused-vars": 0
  },
  "globals": {
    "graphql": true
  }
}
